config:
  client:
    application:
      name: Config Client Test
      profile: Plain

spring:
  datasource:
    name: client-db
    username: client-user
    password: client-password
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: info